# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Go
/bin/
/pkg/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables
.env
.env.local
.env.*.local

# Temporary folders
tmp/
**/tmp/

